<footer>
    <a href="https://github.com/hakima16/" target="_blank">GitHub</a> |
    <a href="https://hakima16.github.io/" target="_blank">GitHub.io</a> |
    <a href="https://hakima16.github.io/web115/" target="_blank">WEB115</a> |
	<a href="https://hakima16.github.io/web215" target="_blank">WEB215</a> |
	<a href="https://hakima16.github.io/web250" target="_blank">WEB250</a> |
    <a href="https://www.freecodecamp.org/kima16" target="_blank">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/kima16" target="_blank">Codecademy</a> |
    <a href="https://www.linkedin.com/in/hakima-chabane-08674a1a4/" target="_blank">LinkedIn</a> |
	<a href="https://jsfiddle.net/hakimaC/v8o6tc34/" target="_blank">JSFiddles</a>

    <!-- your links and attribution -->
    <p>
	
	
  Page built by Hakima Chabane Enterprises — Certified in 
  <a href="https://www.freecodecamp.org/certification/fcc-8eb85ecf-427d-4ad9-9797-11eda19afcef/responsive-web-design" target="_blank">RWD</a>
  &
  <a href="https://www.freecodecamp.org/certification/fcc-8eb85ecf-427d-4ad9-9797-11eda19afcef/javascript-v9" target="_blank">JADS</a>
</p>


   <!-- Validator script -->
   <script src="https://lint.page/kit/880bd5.js" crossorigin="anonymous"></script>


    
  </footer>
  


