<header>
    <!-- Page Header -->
    <h1>Hakima Chabane — Hardworking Kangaroo</h1>
    <nav>
      <a href="index.html">Home</a> |
      <a href="introduction.html">Introduction</a> |
      <a href="contract.html">Contract</a> |
	  <a href="brand.html">brand</a> |
	  <a href="fizzbuzz0.html">fizzbuzz0</a> |
	  <a href="fizzbuzz1.html">fizzbuzz1</a> |
	  <a href="fizzbuzz2.html">fizzbuzz2</a> |
	  <a href="fizzbuzz3.html">fizzbuzz3</a> |
	  <a href="fizzbuzz4.html">fizzbuzz4</a> |
    </nav>
  </header>